{% load static %}<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>{{ p.pname }}</title>
<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>
<body>
<div class="container">
<ol class="breadcrumb my-4">
<li class="breadcrumb-item"><a href="{%url 'home' %}">PRODUCTS</a></li>
<li class="breadcrumb-item active">{{ p.pname }}</li>

</ol>
<table class="table">
<thead class="thead-inverse">
<tr>
<th>ORDER ID</th>
<th>ORDER DATE </th>
<th>ORDER QUANTITY</th>
<th>TOTAL</th>
<th>PAY STATUS</th>

</tr>
</thead>
<tbody>
 {% for l in k %}

 <tr> 
 <td> {{ l.ono }}
  </td>
  
<td class="align-middle">{{ l.odate}}</td>  
  <td class="align-middle">{{ l.Oqty}}</td> 
  <td class="align-middle">{{ l.ototal }}</td> 
  <td class="align-middle">{{ l.opaystatus }}</td> 
  
  
  </tr>
  {% endfor %} </tbody> </table>
</div>
</body>
</html>